<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <style>
      .box {
        width: 600px;
        margin: 100px auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radio: 6px;
      }
      .error-msg {
        color: red;
        text-align: center;
        display: none;
      }
      .h30 {
        height: 30px;
        line-height: 30px;
      }
    </style>
    <title>注册</title>
  </head>
  <body>
    <div class="box">
      <div class="h30">
        <p class="error-msg">用户或密码错误</p>
      </div>
      <form id='form'>
        <div class="mb-3">
          <span class="form-label">用户类型：</span>
          <input
            class="form-check-input"
            type="radio"
            name="code"
            id="customer"
            checked
          />
          <label for="customer" class="form-label">客户</label>
          <input
            class="form-check-input"
            type="radio"
            name="code"
            id="business"
          />
          <label for="business" class="form-label">商家</label>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">邮箱：</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密码：</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <div class="line-center">
          <button type="button" class="btn btn-outline-primary" id="login">
            登录
          </button>
        </div>
      </form>
    </div>
    <script src="{% static 'js/qs.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script>
      document.getElementById('login').addEventListener('click', () => {
        $('.error-msg').hide()
        const elUserName = document.getElementById('email')
        const elPassword = document.getElementById('password')
        const elCustomer = document.getElementById('customer')
        axios({
          url: '/login/',
          method: 'post',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          data: Qs.stringify({
            email: elUserName.value,
            password: elPassword.value,
            code: elCustomer.checked ? 100 : 300,
          }),
        })
          .then((response) => {
            if (response.status === 200) {
              location.href = '/'
            } else {
              $('.error-msg').show()
            }
          })
          .catch((err) => {
            alert(err.response.data)
          })
      })
    </script>
  </body>
</html>
